.ContentBox--Sec {
  padding: 4rem 2rem;

  @media screen and (max-width:600px) {
    flex-direction: column !important;
    padding-left: .65rem;
    padding-right: .65rem;

    .leftBox,
    .rightBox {
      width: 100%;
    }
  }

  .part {
    margin-bottom: 1rem;
  }

  .heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #1E5C97;
    margin-bottom: .75rem;
  }

  .text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  img {
    width: 100%;
    min-width: 16rem;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  }

}