.FooterPage {
  z-index: 5;
  position: relative;
  min-height: fit-content;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  color: #fff;

  @media screen and (max-width: 700px) {
    height: 70vh;
  }

  @media screen and (max-width: 450px) {
    height: 80vh;
  }

  .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    background: transparent;

    @media screen and (max-width: 700px) {
      padding: 2rem .65rem;
    }

    .upperBox {
      position: relative;
      margin-bottom: 4rem;

      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: start;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -2rem;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        border-radius: 21px;
      }

      .upperPart {
        font-size: 1.2rem;

        @media screen and (max-width:700px) {
          text-align: left;
          margin-bottom: 1rem;

          h1 {
            padding-left: 0;
          }

          .Inner__upperPart {
            flex-direction: row;

            & :first-of-type {
              padding-left: 0;
            }
          }
        }

        h1 {
          font-size: 1.5rem;
          font-weight: 800;
        }
      }

      .upperPart--last {
        p {
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 27px;
        }
      }
    }

    .lowerBox {
      .socialLogo {
        width: 36px;
        height: 36px;
        aspect-ratio: 1/1;
        object-fit: contain;
      }

      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        text-align: center;

        &:first-child,
        &:last-child {
          flex-basis: 35vw;
        }

        &>* {
          max-height: fit-content;
        }
      }
    }

  }




}